name: Build on every push except main branch

on:
  push:
    branches-ignore:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  version:
    uses: walt-id/waltid-identity/.github/workflows/version.yml@c667b2c854d9629e4e17583502e6347708ea4444
  gradle-build:
    uses: walt-id/waltid-identity/.github/workflows/gradle.yml@c667b2c854d9629e4e17583502e6347708ea4444
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
  docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@c667b2c854d9629e4e17583502e6347708ea4444
    with:
      jsonpath: ".github/workflows/data/docker-matrix.json"
  docker:
    uses: walt-id/waltid-identity/.github/workflows/docker.yml@c667b2c854d9629e4e17583502e6347708ea4444
    needs: [ version, docker-matrix ]
    with:
      images: ${{ needs.docker-matrix.outputs.json }}
      version: ${{ needs.version.outputs.release_version }}
      artifact: true
  ebsi-ct-v3:
    uses: walt-id/waltid-identity/.github/workflows/ebsictv3.yml@c667b2c854d9629e4e17583502e6347708ea4444
    needs: [ version, docker ]
    secrets: inherit
    with:
      artifact: issuer-api
      tag: "waltid/issuer-api:${{ needs.version.outputs.release_version }}"
  compose-test:
    uses: walt-id/waltid-identity/.github/workflows/docker-compose-testing.yml@c667b2c854d9629e4e17583502e6347708ea4444
    needs: [ version, docker ]
    secrets: inherit
    with:
      artifact: true
      tag: "${{ needs.version.outputs.release_version }}"