name: Release on manual push

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true

jobs:
  version:
    uses: walt-id/waltid-identity/.github/workflows/version.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    with:
      preferred: ${{ inputs.release_version }}
  gradle:
    uses: walt-id/waltid-identity/.github/workflows/gradle.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    secrets: inherit
    needs: version
    with:
      version: ${{ needs.version.outputs.release_version }}
      publish: true
  docker-matrix:
    uses: walt-id/waltid-identity/.github/workflows/load-json.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    with:
      jsonpath: ".github/workflows/data/docker-matrix.json"
  docker:
    uses: walt-id/waltid-identity/.github/workflows/docker.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    secrets: inherit
    needs: [ version, docker-matrix ]
    with:
      images: ${{ needs.docker-matrix.outputs.json }}
      version: ${{ needs.version.outputs.release_version }}
      tag: latest
      publish: true
  deploy:
    uses: walt-id/waltid-identity/.github/workflows/deployment.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    secrets: inherit
    needs: [ version, gradle, docker ]
    with:
      version: ${{ needs.version.outputs.release_version }}
      deployment: prod
      namespace: identity-main
      portals: identity-main
  tag:
    uses: walt-id/waltid-identity/.github/workflows/tag.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    needs: [ version, deploy ]
    with:
      version: ${{ needs.version.outputs.release_version }}
  release:
    uses: walt-id/waltid-identity/.github/workflows/changelog.yml@af5ae170755e49f90e6a2fff1b5a88172d902017
    secrets: inherit
    needs: [ tag ]
    with:
      tag: ${{ needs.tag.outputs.tag }}